.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.chart {
    width: 600px;
    height: 400px;
    margin: 10px;
}

@media (max-width: 650px) {
    .chart {
        width: 100%;
        margin: 10px 0;
    }
}