<!DOCTYPE html>
<html>

<head>
    <title>鸢尾花可视化大图</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
</head>

<body>
    <!-- 为 柱状图 准备一个定义了宽高的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>

    <!-- 为 饼图 准备一个定义了宽高的 DOM -->
    <div id="pieChart" style="width: 600px;height:400px;"></div>

    <!-- 为  散点图 准备一个定义了宽高的 DOM -->
    <div id="scatterChart" style="width: 600px;height:400px;"></div>

    <script src="{{ url_for('static', filename='js/bar_pie_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatter.js') }}"></script>
</body>

</html>